.about-outer-container {
    min-height: 100vh;
    padding: 20px 50px 20px 50px;
    background-color: black;
    transition: transform 1s ease;
}

.about-headline {
    font-size: 5rem;
    color: rgba(162, 232, 13, 0.938);
    font-family: 'Play', sans-serif;
    margin-bottom: 50px;
}

.about-headline.animate-scroll {
    animation: slideIn 1.5s ease forwards;
}

.about-info-container {
    box-sizing: border-box;
    display: flex;
    gap: 100px;
    padding: 20px 40px 20px 40px;
    color: rgb(255, 255, 255);
    margin: 50px 0px 50px 0px;   
}

.about-text-one {
    font-size: 1.4rem;
    font-family: 'Play', sans-serif;
}

.about-span {
    color: rgba(162, 232, 13, 0.938);
}

.about-text-two {
    font-size: 1.3rem;
    font-family: 'Titillium Web', sans-serif;
}

.about-image {
    width: clamp(300px, 40%, 80%);
    border-radius: 100px;
}

@media screen and (max-width: 1200px) {
    .about-info-container {
        flex-direction: column;
    }

    .about-outer-container {
        padding: 30px 20px 100px 30px;
    }
}
