.greet-outer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../Assets/space-background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    z-index: 0;
}

.greet-text {
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Play', sans-serif;
    z-index: -1;
}

.greet-planet {
    position: absolute;
    width: 70px;
}

.greet-planet-6 {
    top: 20%;
    left: 10%;
}
.greet-planet-3 {
    top: 15%;
    left: 57%;
}
.greet-planet-2 {
    top: 25%;
    left: 70%;
}
.greet-planet-4 {
    bottom: 16;
    left: 70%;
}
.greet-planet-5 {
    top: 85%;
    left: 56%;
}
.greet-planet-7 {
    top: 15%;
    left: 35%;
}
.greet-planet-1 {
    top: 75%;
    left: 10%;
}
.greet-planet-8 {
    top: 80%;
    left: 30%;
}

@media screen and (max-width: 500px) {
    .greet-planet-5 {
        display: none;
    }
    .greet-planet-7 {
        display: none;
    }
    .greet-planet-8 {
        display: none;
    }
    .greet-planet-3 {
        display: none;
    }
    .greet-planet-2 {
        top: 20%;
        left: 70%;
    }
}