.loading-outer-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 999999;
    overflow: hidden;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.loading-active {
    opacity: 1;
}

.loading-inactive {
    opacity: 0;
}

.loading-container-offline {
    display: none;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.loading-item {
    width: 10%;
}

.loading-headline {
    color: white;
    position: absolute;
    top: 60%;
}

.loading-headline-inactive,
.loading-headline-active {
    color: white;
    position: absolute;
    top: 60%;
}

.loading-headline-active {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.loading-headline-inactive {
    transition: opacity 0.5s ease;
    opacity: 0;
}

@media screen and (max-width: 650px) {
    .loading-item {
        width: 30%;
    }
}