.nav-outer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    min-width: 100%;
    top: 0;
    z-index: 9996;
    transition: height 1s, background-color 0.5s ease;
    transform: translateZ(99999px);
    padding-top: 5px;
}

.nav-logo {
    width: 40px;
}

.nav-outer-shrink {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
} 

.nav-left-link {
    display: flex;
    align-self: center;
}

.nav-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(200px, 250px, 400px);
    padding-right: 20px;
}

.nav-left-container {
    display: flex;
    justify-items: center;
    width: clamp(25%, 250px, 400px);
    padding-left: 20px;
}

.nav-link {
    display: inline-block;
    background: none;
    color: lightgray;
    border: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.nav-left-link:hover,
.nav-link:hover {
    opacity: 0.4;
    text-shadow: 200px;
}

.nav-toggle {
    display: none;
    align-items: center;
}

.nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    padding: 30px;
    transition: transform 0.3s ease-in-ut;
}

.nav-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.nav-outer-container .open .nav-icon {
    transform: rotate(90deg);
}

.nav-outer-container .open .nav-icon span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.nav-outer-container .open .nav-icon span:nth-child(2) {
    opacity: 0;
}

.nav-outer-container .open .nav-icon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-links-container {
    display: flex;
    position: absolute;
    right: -185px;
    top: 50vh;
    margin-top: 0;
    height: auto;
    transform: rotate(90deg);
    gap: 30px;
    color: white !important;
    animation: leftToRight 1s ease;
}

.nav-links-closing {
    animation: rightToLeft 0.1s ease;
}

@keyframes leftToRight {
    0% {
        transform: rotate(90deg) translateY(-100%);
    }

    100% {
        transform: rotate(90deg) translateY(0%);
    }
}

@keyframes rightToLeft {
    0% {
        transform: rotate(90deg) translateY(0%);
    }

    100% {
        transform: rotate(90deg) translateY(-100%);
    }
}

button {
    background: none;
    border: none;
}

.nav-list-link {
    background: none;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    font-size: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: inline-block;
    border: none;
    font-weight: bold;
    padding: 4px;
}

ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .nav-right-container {
      display: none; 
    }

    .nav-toggle {
        display: flex;
    } 
}
